output/
.output/*
.DS_Store
dtob
btod.dSYM/Contents/Info.plist
btod.dSYM/Contents/Resources/DWARF/btod
btod.dSYM/Contents/Resources/Relocations/aarch64/btod.yml
dtob.dSYM/Contents/Info.plist
dtob.dSYM/Contents/Resources/Relocations/aarch64/dtob.yml
exp1.dSYM/Contents/Info.plist
exp1.dSYM/Contents/Resources/DWARF/exp1
exp1.dSYM/Contents/Resources/Relocations/aarch64/exp1.yml
exp1
btod
.vscode/